html,
body {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    var(--blue-main-page) 0%,
    var(--purple-main-page) 100%
  );
  font-family: 'Segoe UI', system-ui, sans-serif;
  padding: 2rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  padding: 3rem;
  background: white;
  border-radius: 2rem;
  transition: transform 0.3s ease;
}

.formGroup {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: gray;
  font-weight: 500;
  transition: color 0.3s ease;
  width: 100%;
}

.input {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: black;
  background-color: white;
  border: 2px solid gray;
  border-radius: 2rem;
  transition: all 0.9s ease;
  outline: none;
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--blue-main-page) 0%;
  background-color: white;
}

.input:hover {
  background-color: white;
}

.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(
    135deg,
    var(--purple-main-page) 0%,
    var(--blue-main-page) 100%
  );
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
  width: 90%;
}

.eye {
  position: absolute;
  right: 0.5rem;
  top: 69%;
  width: 7%;
  transform: translateY(-50%);
  cursor: pointer;
}
.formRow {
  display: flex;
  gap: 5%;
  width: 100%;
  margin-bottom: 0rem;
}
.formImputDescription {
  width: 100%;
  padding: 2rem 1rem;
  color: black;
  background-color: white;
  border: 0.15rem solid gray;
  border-radius: 2rem;
}
