@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-main-page: #001b92;
  --purple-main-page: #3d0524;
  --color-label-blue: #374151;
  --imput-backgound: #1f2937;
  --gray-for-tab: #2e322e;
  --labels-color: #374151;
  --white-for-imput: #f9fafb;
  --gray-for-circle-input: #e5e7eb;
  --white-for-button: #c4c7ca;
  --gray-for-cellules-tab: #2e322e;
  --yellow-for-button-status: #e3c900;
  --white-all: #ffffff;
}
