/* apps/client/src/styles-minimal.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60rem;
  background: linear-gradient(
    135deg,
    var(--blue-main-page),
    var(--purple-main-page)
  );
  font-family: 'Segoe UI', system-ui, sans-serif;
  padding: 15rem;
}

.title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: white;
}
.tableau {
  width: 120%;
  border-collapse: separate;
  border-spacing: 0.5rem;
}

.tableau th,
.tableau td {
  padding: 12px 16px;
  font-size: 1rem;
  color: #ffffff;
  border: 0rem solid gray;
  text-align: center;
  background: black;
  border-radius: 0.5rem; /* Coins arrondis */
}

.tableau th {
  background: linear-gradient(
    10deg,
    var(--purple-main-page) 0%,
    var(--blue-main-page) 100%
  );
  color: white;
  font-weight: 100;
}

.tableau tr:hover td {
  background: rgba(255, 255, 255, 0.2); /* Survol léger */
  transition: background 0.3s ease;
}
