.container {
  min-height: 100vh;
  justify-content: flex-start;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60rem;
  background: linear-gradient(
    135deg,
    var(--blue-main-page),
    var(--purple-main-page)
  );
  font-family: 'Segoe UI', system-ui, sans-serif;
  padding: 15rem;
}

.title {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: white;
}

.tab {
  width: 120%;
  border-collapse: separate;
  border-spacing: 0.5rem;
}

.tab th,
.tab td {
  padding: 1rem 1rem;
  font-size: 1rem;
  color: white;
  border: 0rem solid;
  text-align: center;
  background: var(--gray-for-cellules-tab);
  border-radius: 0.5rem;
}

.tab th {
  background: linear-gradient(
    10deg,
    var(--purple-main-page) 0%,
    var(--blue-main-page) 100%
  );
  color: white;
  font-weight: 100;
}

.tab tr:hover td {
  background: var(--gray-for-tab);
  transition: background 0.7s ease;
}
.actionsCell {
  white-space: nowrap;
}

.actionsCell button {
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 3%;
  transition: background 0.3s ease;
}

.editButton {
  background-color: rgb(18, 120, 222);
}

.editButton:hover {
  background-color: rgb(15, 95, 180);
}

.deleteButton {
  background-color: var(--red-for-button, red);
}

.deleteButton:hover {
  background-color: var(--red-for-button, red);
}

.saveButton {
  background-color: rgb(18, 218, 75);
}

.saveButton:hover {
  background-color: rgb(15, 180, 60);
}

.cancelButton {
  background-color: var(--gray-for-tab);
  color: white;
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cancelButton:hover {
  background-color: var(--gray-for-cellules-tab);
}

.confirmButton {
  padding: 1rem 1rem;
  font-size: 0.9rem;
  color: white;
  background: var(--red-for-button, red);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.confirmButton:hover {
  background-color: var(--red-for-button);
}

.inlineInput {
  background-color: var(--color-label-blue, --white-all);
  width: 9rem;
  padding: 0.5rem;
  border: 1% solid var (--white-for-imput);
  border-radius: 1rem;
  box-sizing: border-box;
  margin-bottom: 15%;
}

.inlineInput:focus {
  border-color: var(--blue-main-page);
  outline: none;
}
